.DropBox {
    text-align: center;
    width: 350px;
    height: 400px;
    border: 1px solid black;
    border-radius: 10px;
    margin-right: 20px;
}

.Over {
    border: 2px dotted gray;
    opacity: 0.5;
}