.Setting textarea {
    display: block;
    margin: 10px auto;
    width: 600px;
    height: 300px;
    padding: 10px;
}

input {
    display: block;
    margin: 10px auto;
    width: 600px;
    height: 40px;
    padding: 10px;
    font-size: 16px;
}

.Avatar {
    height: 25px;
    padding: 10px;
}